.titlearea {
  font-size: 32px;
  cursor: test;
  margin: 20px 0;
}
.titlearea:focus {
  outline: none;
}
.titlearea:empty::before {
  font-weight: 600;
  content: '在此处输入标题';
  color: #bbbfba;
}
.hr-solid {
  border: 0;
  border-top: 1px solid #bbbfba;
}
.content-area {
  margin-top: 15px;
}
.content-area:focus {
  outline: none;
}
.content-area .block {
  width: 100%;
  font-size: 16px;
  cursor: test;
}
.content-area .block:focus {
  outline: none;
}
.content-area div[format='h1'] {
  font-size: 26px;
  font-weight: bold;
}
.content-area div[format='h2'] {
  font-size: 22px;
  font-weight: bold;
}
.content-area div[format='h3'] {
  font-size: 20px;
  font-weight: bold;
}
.content-area div[format='h4'] {
  font-size: 18px;
  font-weight: bold;
}
.content-area div[format='h5'] {
  font-size: 16px;
  font-weight: bold;
}
.content-area div[format='h6'] {
  font-size: 14px;
  font-weight: bold;
}
